# Project exclude paths
/.gradle/
/Shared Expenses Tracker/task/build/
/Shared Expenses Tracker/task/out/
/Shared Expenses Tracker/task/out/production/classes/
/.idea/
/.idea/.gitignore
/Topics/
**/task-remote-info.yaml
**/task-info.yaml
/gradle/
/gradlew
/gradlew.bat
/util/
/settings.gradle
**/task.html
/course-info.yaml
/course-remote-info.yaml
/Shared Expenses Tracker/lesson-info.yaml
